@using Restaurnat.BLL.ModelVM.User
@model Task<(bool, string, List
<GetUserVM>
)>
@{
Layout = "~/Views/Shared/_AdminLayout.cshtml";
ViewData["Title"] = "Dashboard";
var modelData = await Model; // Await the task
var users = modelData.Item3; // Get the List <GetUserVM>
}
<a asp-controller="AdminUser" asp-action="Create" class="btn btn-sm btn-primary me-1">Create</a>
<table class="table table-striped">
   <thead>
      <tr>
         <th scope="col">#</th>
         <th scope="col">Image</th>
         <th scope="col">First</th>
         <th scope="col">Last</th>
         <th scope="col">Age</th>
         <th scope="col">Country</th>
         <th scope="col">City</th>
         <th scope="col">Street</th>
         <th scope="col">Role</th>
         <th scope="col">Operations</th>
      </tr>
   </thead>
   <tbody>
      @{
      int counter = 1;
      }
      @foreach (var i in users)
      {
      <tr>
         <td>@counter</td>
             <td><img src="~/Files/@i.imagepath" alt="No image available"  class="img-fluid rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" /></td>
         <td>@i.first_name</td>
         <td>@i.last_name</td>
         <td>@i.age</td>
         <td>@i.country</td>
         <td>@i.city</td>
         <td>@i.street</td>
         <td>@i.role</td>
             <td>
        <a asp-controller="AdminUser" asp-action="Update" asp-route-id="@i.Id" class="btn btn-sm btn-primary me-1">Edit</a>
        <a asp-controller="AdminUser" asp-action="Delete" asp-route-id="@i.Id" class="btn btn-sm btn-danger">Delete</a>
                     <form asp-action="MakeAdmin" asp-route-id="@i.Id" method="post" style="display:inline;">
        <button type="submit" class="btn btn-sm btn-warning" @(i.role == "Admin" ? "disabled" : "")>
            Make Admin
        </button>
    </form>

    </td>
      </tr>
      counter++;
      }
   </tbody>
</table>