@using Restaurnat.BLL.ModelVM.Item
@model List<GetItemVM>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Items";
}

<h2 class="mb-3">Items</h2>


        <a asp-controller="AdminItem" asp-action="Create" class="btn btn-sm btn-success mb-3">+ Create New Item</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Menu</th>
            <th scope="col">Recommended</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
                    <tr>
                        <td>@counter</td>
                        <td>
                                <img src="~/Files/@item.imagepath" alt ="No image"  class="img-fluid rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" />
                        </td>
                        <td>@item.name</td>
                        <td>@item.price.ToString("C")</td>
                        <td>@item.description</td>
                        <td>@item.Menu.name</td>
                        <td>
                    @if (item.recommended)
                    {
                                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                                        <span class="badge bg-secondary">No</span>
                    }
                        </td>
                        <td>
                     <a asp-controller="AdminItem" asp-action="Update" asp-route-id="@item.item_id" class="btn btn-sm btn-primary me-1">Edit</a>
            <a asp-controller="AdminItem" asp-action="Delete" asp-route-id="@item.item_id" class="btn btn-sm btn-danger">Delete</a>

                        </td>
                    </tr>
            counter++;
        }
    </tbody>
</table>
